$font-size: 2rem;
$button-backround-color: red;
$button-font-color: black;
$text-font-color: blue;

.hello-btn {
	font-size: $font-size;
	padding: 0.5rem 1rem;
	background: $button-backround-color;
	color: $button-font-color;
	outline: none;
}

.hello-text {
	color: $text-font-color;
	font-weight: bold;
}